/*Variables globales*/
:root {
  --main-bg-color: #7a3131;
  --text-color-light: #f8f8f4;
  --text-color-dark: #7a3131;
  --hover-bg-color: #eccaca;
  --text-color: #333;
}
/*Estilos generales*/
body {
  background-color: rgb(235, 235, 235);
  color: var(--main-bg-color);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
}
/* Header */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: var(--text-color-light);
}

header img {
  width: 30%;
}

/*Banderas para cambiar el idioma*/
.language-switcher {
  display: flex;
  gap: 30px;
}

.flag {
  width: 32px;
  transition: transform 0.2s ease-in-out;
}

.flag:hover {
  transform: scale(1.1);
}

/*Navegacion*/
nav {
  background-color: var(--main-bg-color);
}

nav ul {
  display: flex;
  justify-content: space-evenly;
  align-items: center; /*No se aprecia de primeras, pero al ser pantalla peque si*/
  padding: 10px;
  margin: 0;
  list-style: none;
}

nav ul li {
  padding: 10px;
  width: 120px;
  text-align: center;
  position: relative;
}

nav ul li a {
  display: block;
  text-decoration: none;
  color: var(--text-color-light);
  transition: font-weight 0.2s ease; /*anade transicion al hacer hover*/
  font-size: 1.2em;
}

nav ul li:hover {
  font-weight: bold;
}

/*Estilo del contenedor del dropdown*/
/*ARREGLAR DE PORQUE NO SALE DEBAJO DE LA CAJA EN VEZ DEL TEXTO*/
.dropdown-content {
  display: none;
  position: absolute;
  background-color: var(--hover-bg-color);
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

/*dentro del dropdown*/
.dropdown-content a {
  color: var(--text-color-dark);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  width: 100%; /*area clicable sea completa */
  box-sizing: border-box;
}

.dropdown-content a:hover {
  background-color: var(--main-bg-color);
  color: var(--hover-bg-color);
  display: block;
}

/* Mostrar el contenido del dropdown cuando se hace hover sobre el contenedor */
.dropdown:hover .dropdown-content {
  display: block;
}

.hidden {
  display: none;
}

/* Botun del menu */
#menuToggle {
  display: none; /* Ocultarlo por defecto */
}

/*Carouel de imagenes*/
.carousel {
  position: relative;
  width: 100%;
  max-width: 100%;
  height: 450px;
  margin: 0 auto;
  overflow: hidden;
  background-color: #f8f8f4;
  border-radius: 10px;
}

.carousel-inner {
  display: flex;
  transition: transform 0.5s ease-in-out;
  height: 100%;
}

.carousel-item {
  flex: 0 0 100%;
  text-align: center;
  position: relative;
}

.carousel-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px 10px 0 0;
}

.carousel-item p {
  margin: 10px 0;
  font-size: 1.2em;
  color: var(--main-bg-color);
}

.carousel-control {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
}

.carousel-control.prev {
  left: 10px;
}

.carousel-control.next {
  right: 10px;
}

/*Promociones*/
.promotions {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 20px;
  margin: 20px auto;
  padding: 10px;
  max-width: 100%px;
}

.promotion-item {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  max-width: 300px; /* Tamano max de cada tarjeta */
  text-align: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.promotion-item:hover {
  transform: translateY(-5px);
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.3);
}

.promotion-item img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 10px;
}

.promotion-item h3 {
  font-size: 1.5em;
  margin: 10px 0;
  color: var(--main-bg-color);
}

.promotion-item p {
  font-size: 1em;
  margin: 10px 15px;
  color: var(--text-color);
}

/*Seccion de bienvenida*/
.welcome-section {
  text-align: left;
  background-color: #f7f7f7;
  padding: 40px 20px;
  margin: 20px auto;
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 800px;
  display: flex; /* Usamos flexbox para alinear el botón a la derecha */
  align-items: center; /* Centramos verticalmente el botón con el texto */
  justify-content: space-between; /* Espacio entre el texto y el botón */
}

.welcome-section h2 {
  font-size: 2.5em;
  color: var(--text-color-dark);
  margin-bottom: 20px;
}

.welcome-section p {
  font-size: 1.2em;
  color: #333;
  margin-bottom: 30px;
  line-height: 1.6;
  max-width: 600px;
}

.download-btn {
  background-color: var(--hover-bg-color);
  color: var(--text-color-dark);
  text-align: center;
  border-radius: 20px;
  width: 200px;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.download-btn:hover {
  background-color: var(--hover-bg-color);
  transform: scale(1.05);
}
.download-btn p {
  margin: 0;
  font-size: 1.1em;
}

.download-btn h3 {
  margin: 5px 0;
  font-size: 1.5em;
  font-weight: bold;
}

h2 {
  text-align: left;
  margin-top: 30px;
  margin-left: 30px;
}

.footer {
  background-color: var(--main-bg-color);
  color: var(--text-color-light);
  padding: 20px;
  text-align: center;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-logo img {
  width: 100px;
}

.footer-info {
  font-size: 0.9em;
}

.footer-bottom {
  margin-top: 20px;
  font-size: 0.8em;
}

@media (max-width: 768px) {
  .dropdown-content {
    display: none;
    position: relative;
    background-color: var(--hover-bg-color);
    padding: 0;
  }

  .dropdown.active .dropdown-content {
    display: block;
  }

  nav ul {
    display: none; /* ocultar menu principal por defecto */
    flex-direction: column; /* menu vertical */
    background-color: var(--main-bg-color);
    transition: all 0.3s ease-in-out;
  }

  nav ul.active {
    display: flex;
  }

  #menuToggle {
    display: block;
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: var(--hover-bg-color);
    border: none;
    padding: 10px 15px;
    font-size: 16px;
  }

  .carousel {
    height: 300px;
  }
  h2 {
    text-align: left; /* Título alineado a la izquierda */
    margin-left: 30px;
  }

  .welcome-section {
    flex-direction: column; /* Coloca el botón debajo del texto */
    text-align: center; /* Centra el texto en móviles */
  }

  .welcome-section p {
    max-width: 100%; /* El texto ocupa todo el ancho en móviles */
  }

  .download-btn {
    margin-left: 0; /* Elimina el margen izquierdo en móviles */
    margin-top: 20px; /* Añade espacio arriba del botón */
  }
}

/* Estilos para el formulario de contacto */
#contactForm {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 500px;
  margin: 20px auto; /* Margen superior e inferior, y centrado horizontalmente */
}

.form-group {
  margin-bottom: 15px;
  margin-right: 15px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  font-size: 0.9em;
}

.form-group input,
.form-group textarea {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 0.9em;
}

.form-group input[type="text"],
.form-group input[type="email"] {
  height: 35px;
}

button[type="submit"] {
  background-color: var(--main-bg-color);
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 0.9em;
  width: 100%;
}

button[type="submit"]:hover {
  background-color: #e04e4e;
}

/* Estilos para el mensaje de confirmación */
#confirmationMessage {
  background-color: #f7f7f7;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  margin-top: 20px;
}

#confirmationMessage h2 {
  color: var(--main-bg-color);
}

.btn {
  display: inline-block;
  background-color: var(--main-bg-color);
  color: #fff;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
  margin-top: 10px;
}

.btn:hover {
  background-color: #e04e4e;
}
